@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

body{
    background-color: black;
    font-family: 'Sen','san-serif';
    color: white;
}
.navbar{
    background-color: black;
    box-shadow: 0px 0px 5px grey;
}
.navbar .nav-item a{
    color: grey;
    font-family: 'Kanit','san-serif';
    font-size: 20px;
    margin-right: 40px;
}
.navbar .nav-item a:hover{
    color: aqua;
}
.navbar-brand{
    margin: 10px 0px;
    padding: 15px;
    background-color: rgb(32, 32, 32);
    box-shadow: 2px 2px 3px aqua;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Kanit','san-serif';
    letter-spacing: 2px;
}
.head{
    color: aqua;
    font-size: 50px;
}
#home{
    margin-top: 170px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
}
.imagecard img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 4px grey;
}

.namecard{
    height: 80%;
    padding: 30px;
    margin-left: -30px;
    margin-top: 70px;
    border-radius: 5px;
    background-color: rgb(31, 31, 31);
    box-shadow: -2px 2px 4px grey;
    transition: scale 1s ease;
}
.namecard:hover{
    scale: 1.05;
}
.namecard h1{
    color: white;
    font-size: 70px;
    font-weight: bold;
}
.namecard .name{
    color: aqua;
    font-size: 76px;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}
.namecard h2{
    color: white;
    font-size: 56px;
    font-weight: bold;
}

#work{
    margin-top: 100px;
}
.workgrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}
.workgrid img{
    width: 100%;
    opacity: 0.4;
}
.workgrid .column1{
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(31, 31, 31);
    box-shadow: 1px 1px 3px grey;
    transition: scale 1s ease;
}
.workgrid .column1:hover{
    scale: 1.05;
}
#project{
    margin-top: 100px;
}

.projectcards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.text1 h1{
    font-size: 50px;
}
.projectcards .card{
    width: 100%;
    border: none;
    background-color: #181823;
    color: white;
    border-radius: 0;
    border-radius: 10px;
    transition: scale 1s ease;
}
.projectcards .card:hover{
    scale: 1.05;
}
.projectcards .card img{
    border-radius: 10px 10px 0px 0px;
    opacity: 0.85;
}
.projectcards .card-body{
    padding: 30px;
    transition: all 0.3s ease ;
}
.projectcards .card-body:hover{
    color: white;
    background-color: rgb(60, 60, 60);
    border-radius: 1px 0px 10px 10px;
}
#skills{
    margin-top: 100px;
}
.skill-area{
    display: flex;
    flex-direction: column;
    padding: 0 20%;
}
.skill{
    position: relative;
    margin-bottom: 40px;
}
.skill-title{
    font-size: 30px;
    margin-bottom: 10px;
}
.skill-bar{
    width: 100%;
    background-color: rgba(138, 138, 138, 0.3);
    height: 35px;
    z-index: 1;
    border-radius: 100px;
    position: absolute;
}
.skill-fill{
    background: rgb(0, 255, 255);
    color: black;
    height: 35px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    overflow: hidden;
}
.skill-percent{
    font-size: 30px;
}
.django{
    animation: django 2s;
    width: 50%;
}
.html{
    animation: html 2s;
    width: 80%;
}
.css{
    animation: css 2s;
    width: 70%;
}
.js{
    animation: js 2s;
    width: 50%;
}
@keyframes django{
    from{
        width: 0;
    }
    to{
        width: 50%;
    }
}
@keyframes html{
    from{
        width: 0;
    }
    to{
        width: 80%;
    }
}
@keyframes css{
    from{
        width: 0;
    }
    to{
        width: 70%;
    }
}
@keyframes js{
    from{
        width: 0;
    }
    to{
        width: 50%;
    }
}
#contact{
    margin-top: 100px;
}
#contact1{
    width: 900px;
}
.contact{
    text-align: center;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    justify-content: center;
}
.contactcard img{
    width: 100%;
    border: 0.1px solid aqua;
    border-right: none;
}
.contactform{
    border: 0.1px solid aqua;
    border-left: none;
    padding: 30px;
}
label{
    font-size: 20px;
}
input{
    margin-top: 10px;
    height: 40px;
    width: 100%;
    background-color: #414141;
    color: white;
}
textarea{
    margin-top: 10px;
    height: 80px;
    width: 100%;
    background-color: #414141;
    color: white;
}
button{
    padding: 10px;
    background-color:#eaeaea;
    /* color: white; */
    border: none;
    border-radius: 5px;
}
footer{
    background-color: #17171f;
    padding: 40px;
    margin-top: 100px;
}
.footer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: space-between;
}
.footer-grid a{
    color: white;
    text-decoration: none;
}
.footer-grid .links a:hover{
    color: aqua;
}
.footer-grid .icons i{
    color: white;
    font-size: 30px;
    padding-right: 20px;
}


.fixed-icon{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 15px;
    font-size: 30px;
    background-color: #2d2d2d;
    border-radius: 10px;
}
.fixed-icon a{
    color: white;
}











/* .reveal_left{
    position: relative;
    transform: translateX(-80px);
    opacity: 0;
    transition: 1s all ease;
  }
  .reveal_left.active{
    transform: translateX(0);
    opacity: 1;
  }
  .reveal_right{
    position: relative;
    transform: translateX(100px);
    opacity: 0;
    transition: 1s all ease;
  }
  .reveal_right.active{
    transform: translateX(0);
    opacity: 1;
  } */